<h1 style="color: #eeeeee">{{(team | async)?.name}}</h1>
<p style="color: #eeeeee">{{(team | async)?.stadiumName}}</p>


<div class="row top-padding">
  <!--<div class="col-sm-4">-->
    <!--<ul class="list-group list-group-transparent">-->
      <!--<li class="list-group-item list-item-transparent"-->
          <!--*ngFor="let player of players | async">-->
        <!--<div class="list-group">-->
          <!--<player-list-element [player]="player" [infoString]="player.position"></player-list-element>-->
        <!--</div>-->
      <!--</li>-->
    <!--</ul>-->
  <!--</div>-->
  <team-player-list [team]="team | async"></team-player-list>
</div>
