<h1 style="color: #eeeeee">{{(team | async)?.name}}</h1>
<p style="color: #eeeeee">{{(team | async)?.stadiumName}}</p>


<div class="row top-padding">
  <div class="col-sm-4">
    <ul class="list-group list-group-transparent">
      <li class="list-group-item list-item-transparent"
          *ngFor="let player of players | async">
        <div class="list-group">
          <a class="row list-group-item" [routerLink]="['/players', player.id]">
            <span class="pull-left">{{player.number}}: {{player.firstName}} {{player.lastName}}</span>
            <span class="pull-right">{{player.position}}</span>
          </a>
        </div>
      </li>
    </ul>
  </div>
</div>
