<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Stabæk Fotball i Eliteserien</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li>
          <a class="nav-link" [routerLink]=" ['./'] "
             routerLinkActive="active"
             [routerLinkActiveOptions]= "{exact: true}">
          Home
          </a>
        </li>
        <!--<li>-->
          <!--<a class="nav-link" [routerLink]=" ['./stabaek-fixtures'] "-->
             <!--routerLinkActive="active"-->
             <!--[routerLinkActiveOptions]= "{exact: true}">-->
          <!--Stabæk-->
          <!--</a>-->
        <!--</li>-->
        <li>
          <a class="nav-link" [routerLink]=" ['./fixtures',{outlets: {'list': ['fixtureList'], 'fixtureInfo': ['none']}}] "
             routerLinkActive="active"
             [routerLinkActiveOptions]= "{exact: true}">
          Fixtures
          </a>
        </li>
        <li>
          <a class="nav-link" [routerLink]=" ['./teams'] "
             routerLinkActive="active"
             [routerLinkActiveOptions]= "{exact: true}">
          Teams
          </a>
        </li>
        <li>
          <a class="nav-link" [routerLink]=" ['./test'] "
             routerLinkActive="active"
             [routerLinkActiveOptions]= "{exact: true}">
          Test
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
