<ul class="tabs secondary-nav">
  <li class="tabs__item">
    <a class="tabs__link" (click)="showTopScorers()" id="defaultOpen">Top scorer</a>
  </li>
  <li class="tabs__item">
    <a class="tabs__link" (click)="showAssists()">Assists</a>
  </li>
  <li class="tabs__item">
    <a class="tabs__link" (click)="showRedCards()">Red Cards</a>
  </li>
  <li class="tabs__item">
    <a class="tabs__link" (click)="showYellowCards()">Yellow Cards</a>
  </li>
</ul>

  <div class="col-sm-4">
    <ul class="list-group list-group-transparent">
      <li class="list-group-item list-item-transparent margin-auto"
          *ngFor="let playerStatistic of playerStatistics | orderByStatisticType:statisticType">
        <div class="list-group">
          <a class="row list-group-item black pointer" [routerLink]="['/players', playerStatistic.playerId]">
            <span class="pull-left black">{{playerStatistic.playerName}} ({{playerStatistic.teamName}})</span>
            <span class="pull-right black">{{getInfoString(playerStatistic)}}</span>
          </a>
        </div>
      </li>
    </ul>
  </div>
