<div *ngIf="!player">
  <h1 style="color: #eeeeee">Please select a player</h1>
</div>

<section *ngIf="isLoading && !errorMessage">
  Loading our hyperdrives!!! Retrieving data...
</section>

<section *ngIf="player" class="max-width-400">

  <div class="wrap min-height-300">

    <img src="{{player.profilePictureUrl}}" class="player-image width-400">

    <div class="content">

      <div class="container-centered">
        <h1>
          {{player.firstName}} {{player.lastName}}
        </h1>
      </div>

      <div class="container-avatar container-centered max-width-400 vertical-divider">
        <div class="column">
          {{player.number}}
        </div>
        <div class="column">
          {{player.position}}
        </div>
        <div class="column">
          {{player.teamName}}
        </div>
      </div>

    </div>

  </div>

  <ul class="tabs secondary-nav">
    <li class="tabs__item">
      <a class="tabs__link" (click)="showStatistics()" id="defaultOpen">Statistics</a>
    </li>
    <li class="tabs__item">
      <a class="tabs__link" (click)="showTransfers()">Transfers</a>
    </li>
  </ul>

  <div *ngIf="isShowingStatistics">
    <div class="container-centered">
      <ul class="list-group list-group-transparent">
        <li class="list-group-item list-item-transparent"
            *ngFor="let playerStatistic of player.playerStatistics">
          <div class="list-group">
            <div class="row list-group-item black">
              <h4 class="black">
                {{playerStatistic.stageName}}
              </h4>
              <p>Team: {{playerStatistic.teamName}}</p>
              <p>Goals: {{playerStatistic.goals}}</p>
              <p>Assists: {{playerStatistic.assists}}</p>
              <p>Red Cards: {{playerStatistic.redCards}}</p>
              <p>Yellow Cards: {{playerStatistic.yellowCards}}</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div *ngIf="isShowingTransfers">
    <div class="container-centered">
      <ul class="list-group list-group-transparent">
        <li class="list-group-item list-item-transparent"
            *ngFor="let transfer of player.transfers">
          <div class="list-group">
            <div class="row list-group-item black">
              <span class="pull-left black">{{transfer.fromTeamName}} -> {{transfer.toTeamName}}</span>
              <span class="pull-right black">{{transfer.date}}</span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

</section>
