html, body, .container {
  height: 100%;
  background: rgb(0,0,112);
}
.container {
  display: flex;
  justify-content: center;
}

li {
  width: 500px;
  border: none;
  background: transparent;
}

ul {
  width: 500px;
  border: none;
  background: transparent;
}
