html, body, .container {
  background: rgb(0,55,99);
  color: #eeeeee;
}

.container-centered {
  display: flex;
  justify-content: center;
  margin: auto;
}

.white {
  color: #eeeeee;

}

.bold{
  font-weight: bold;
}

.container-left {
  display: flex;
  float: left;
  margin: auto;
}

.block{
  display: block;
}

.inline{
  display: inline;
}

.list-item-transparent {
  min-width: 300px;
  width: 100%;
  max-width: 500px;
  border: none;
  background: transparent;
}

.pointer{
  cursor: pointer;
}

.black{
  color: black;
}

.transparent{
  background: transparent;
}

.top-padding{
  padding-top: 5rem;
  justify-content: center;
}

.margin-2{
  margin: 2rem auto;
}

.margin-1{
  margin: 1rem auto;
}

.margin-0{
  margin: 0px;
}

.margin-auto{
  margin: auto;
}

.left-div{
  float: left;
}

.div-right-pane{
  margin-left: 25%;
}

.width-600{
  width: 600px;
}

.width-400{
  width: 400px;
}

.width-200{
  width: 200px;
}

.max-width-400{
  max-width: 400px;
}

.max-width-200{
  max-width: 200px;
}

.min-height-300{
  min-height: 300px;
}

.min-height-100{
  min-height: 100px;
}

.player-avatar{
  width: auto;
  height: auto;
  margin: 2rem;
  max-width: 76px;
  display: block;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  text-align: center;
  align-self: center;
}

@media screen and (max-width: 1080px){
  .hidden-on-mobile{
    display: none;
  }
}

@media screen and (min-width: 1080px){
  .hidden-on-desktop{
    display: none;
  }
}


.vertical-divider{
  clear: both;
  position: relative;
}

.vertical-divider:after {
  clear: both;
  content: " ";
  display: block;
  height: 0;
  visibility: hidden;
}

.vertical-divider .column:not(:first-child):after, .vertical-divider .columns:not(:first-child):after{
  background: #DDDDDD;
  bottom: 0;
  content: " ";
  margin-left: -10px;
  position: absolute;
  top: 0;
  width: 1px;
}

.container-avatar {
  position: relative;
  padding: 0; }

.container-avatar .column, .container .columns {
  float: left;
  display: inline;
  margin-left: 10px;
  margin-right: 10px; }

.stadium-image{
  opacity: 0.5;
  /*width: auto;*/
  /*height: auto;*/
  /*max-height: 400px;*/
  /*max-width: 400px;*/
  /*display: block;*/
}

.player-image{
  opacity: 0.7;
}


.tabs {
  margin-top: 0;
  margin-bottom: 2rem;
  padding: 0;
  list-style: none;
  display: table;
  table-layout: fixed;
  min-width: 300px;
  width: 100%;
  max-width: 500px;
}

.tabs__item {
  display: table-cell;
}

.tabs__link {
  display: block;
  height: 5rem;
}

.secondary-nav {
  text-align: center;
  border-radius: 4px;
  overflow: hidden;
}

.secondary-nav a {
  padding: 1em;
  background-color: #eeeeee;
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.secondary-nav a:hover {
  background-color: #FFFFFF;
  cursor: pointer;
}

.wrap {
  display: inline-block;
  position: relative;
}

.wrap img + .content {
  position: absolute;
  top: 0;
  left: 0;
  padding: 3rem;
}

