.navbar-desktop {
  background-color: white;
  border-color: white;
  border-radius: 0;
  height: 10rem;
  padding: 0 3rem;
  margin-bottom: 10rem;
  font-size: 20px;
}

.navbar-image{
  height: 6rem;
  width: auto;
}

.navbar-link-desktop {
  padding: 3.5rem 1rem;
  font-size: 20px;
  line-height: 1;
  color: black;
  cursor: pointer;
}

.navbar-desktop .navbar-brand,
.navbar-desktop .navbar-toggler {
  color: black;
}

.navbar-desktop .navbar-brand:focus, .navbar-inverse .navbar-brand:hover,
.navbar-desktop .navbar-toggler:focus,
.navbar-desktop .navbar-toggler:hover {
  color: black;
}

.navbar-desktop .navbar-nav .nav-link {
  color: black;
}

.navbar-desktop .navbar-nav .nav-link:focus,
.navbar-inverse .navbar-nav .nav-link:hover,
.navbar-inverse .navbar-nav .navbar-link-desktop:focus,
.navbar-inverse .navbar-nav .navbar-link-desktop:hover,
.navbar-inverse .navbar-nav .navbar-next-fixture:focus
.navbar-inverse .navbar-nav .navbar-next-fixture:hover {
  color: rgba(0, 0, 0, 0.5);
}

.navbar-desktop .navbar-nav .open > .nav-link,
.navbar-desktop .navbar-nav .active > .nav-link,
.navbar-desktop .navbar-nav .nav-link.open,
.navbar-desktop .navbar-nav .nav-link.active {
  color: black;
  font-weight: bold;
}

.navbar-next-fixture{
  padding: 2rem;
}
.navbar-next-feature-image{
  padding: 0 0 1rem 0;
  height: 6rem;
  width: auto;
}

#clockdiv{
  padding: 0 0 0 0;
  font-family: sans-serif;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 22px;
}

.div-home-away{
  display: inline;
}

#clockdiv > div{
  padding: 1rem;
  border-radius: 3px;
  background: #2D3657;
  display: inline-block;
}

#clockdiv div > span{
  /*padding: 1rem;*/
  border-radius: 3px;
  background:  #2D3657;
  display: inline-block;
}

.smalltext{
  padding-top: 3px;
  font-size: 16px;
}
